

<div class="form-group" style="width: 300px">
  
    <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
        <input type="text" class="form-control" placeholder="Unesite naziv uređaja ..." [(ngModel)]="term">

</div>
</div>



<table class="table table-hover">
    <thead class="thead-light">
        <th>Naziv</th>
        <th>Model</th>
        <th>Cena</th>
        <th>Boja</th>
        <th>Proizvodjac</th>
        <th>
            <a class="btn btn-outline-success" routerLink="/uredjaj"><i class="fa fa-plus-square"></i> Novi uredjaj</a>
            <a  class="btn btn-outline-info ml-1" routerLink="/home"><i class="fa fa-home"></i> Pocetna strana</a>

        </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of listaUredjaja | filter:term">
            <th (click)="openForEdit(item.IDUredjaja)">{{item.Naziv}}</th>
            <th (click)="openForEdit(item.IDUredjaja)">{{item.Model}}</th>
            <th (click)="openForEdit(item.IDUredjaja)">{{item.Cena}}</th>
            <th (click)="openForEdit(item.IDUredjaja)">{{item.Boja}}</th>
            <th (click)="openForEdit(item.IDUredjaja)">{{item.Proizvodjac}}</th>
            <td>
                <a class="btn text-danger" (click)="onUredjajDelete(item.IDUredjaja)"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
    </tbody>
</table>
