

<div class="form-group" style="width: 300px">
  
    <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
        <input type="date" id="date" class="form-control" title="Odaberite datum za pretragu" [(ngModel)]="term">

</div>
</div>


<table class="table table-hover">
    <thead class="thead-light">
        <th>Datum</th>
        <th>Klijent</th>
        <th>Zaposleni</th>
        <th>
            <a  class="btn btn-outline-success" routerLink="/ponuda"><i class="fa fa-plus-square"></i> Kreiraj novu ponudu</a>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of listaPonuda | filter:term" title="Za izmenu kliknite na ponudu">
            <th (click)="openForEdit(item.IDPonude)">{{item.Datum | date : 'dd/MM/yyyy'}}</th>
            <th (click)="openForEdit(item.IDPonude)">{{item.Klijent}}</th>
            <th (click)="openForEdit(item.IDPonude)">{{item.Zaposleni}}</th>
            <td>
                <a class="btn text-danger" (click)="onPonudaDelete(item.IDPonude)"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
    </tbody>
</table>
