<table class="table table-hover">
    <thead class="thead-light">
        <th>Datum</th>
        <th>Klijent</th>
        <th>Zaposleni</th>
        <th>
            <a  class="btn btn-outline-success" routerLink="/ponuda"><i class="fa fa-plus-square"></i> Kreiraj novu ponudu</a>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let item of listaPonuda">
            <th (click)="openForEdit(item.IDPonude)">{{item.Datum}}</th>
            <th (click)="openForEdit(item.IDPonude)">{{item.Klijent}}</th>
            <th (click)="openForEdit(item.IDPonude)">{{item.Zaposleni}}</th>
            <td>
                <a class="btn text-danger" (click)="onPonudaDelete(item.IDPonude)"><i class="fa fa-trash fa-lg"></i></a>
            </td>
        </tr>
    </tbody>
</table>
